.dropdown-menu {
  border: none;
}
#dropdownMenuUserContainer {
  margin-top: 15px;
  width: 180px;
  left: -75px;
}
#dropdownMenuUserContainer ul li a:hover {
  color: #ffba44;
  font-weight: 600;
}
#dropdownMenuUserContainer ul {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#dropdownMenuUserContainer ul li {
  /* border-bottom: 1px solid #e1e1e1; */
  font-size: 1.3rem;
  line-height: 2.8;
  font-weight: 400;
  position: relative;
}
#dropdownMenuUserContainer ul li.hasBorderBottom::before {
  content: "";
  position: absolute;
  left: 35px;
  bottom: 0;
  height: 1px;
  width: 110px;
  border-bottom: 1px solid #e1e1e1;
}
#dropdownMenuUserContainer ul li.sectionEnd::before {
  border-bottom: 2px solid #ffba44;
}
#dropdownMenuUserContainer ul li.bottomBorderNone::before {
  border-bottom: none;
}
/*****************************************
 * For dropdown menu
 *****************************************/
#dropdownMenuButtonContainer {
  width: 850px;
  left: -550px;
  top: 55px;
}

#jewelry-education-dropdown-ul {
  display: inline-block;
}

#jewelry-education-dropdown-ul li {
  display: block;
  position: relative;
  float: left;
  /* width: 210px; */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.91;
  padding-top: 15px;
  padding-bottom: 35px;
  padding-left: 40px;
}

#jewelry-education-dropdown-ul li span.li-title {
  line-height: 2.45;
  font-weight: 600;
}
@media screen and (max-width: 1023px) {
  #dropdownMenuButtonContainer {
    width: 700px;
    left: -400px;
    top: 40px;
  }
}
@media screen and (max-width: 767px) {
  #dropdownMenuButtonContainer {
    width: 300px;
    left: unset;
    top: 30px;
    margin-bottom: 130px;
  }
}
