@charset "utf-8";

//===========================================================
//    見出し
//===========================================================

$heading-elements:
"h1",
"h2",
"h3",
"h4",
"h5",
"h6";

//===========================================================
//    フォーム関連
//===========================================================

$form-text-elements:
"input[type=text]",
"input[type=tel]",
"input[type=email]",
"input[type=search]",
"textarea";

$form-click-elements:
"input[type=radio]",
"input[type=checkbox]";

$form-button-elements:
"input[type=button]",
"input[type=submit]",
"input[type=reset]",
"button";
